.slidecontainer
{
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider
{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 25%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover
{
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb
{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  /*background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb
{
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  /*background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#redcursor::-webkit-slider-thumb
{
  background: #AF4C50; /* Red background */
}

#greencursor::-webkit-slider-thumb
{
  background: #4CAF50; /* Green background */
}

#bluecursor::-webkit-slider-thumb
{
  background: #4C50AF; /* Blue background */
}

#redcursor::-moz-range-thumb
{
  background: #AF4C50; /* Red background */
}

#greencursor::-moz-range-thumb
{
  background: #4CAF50; /* Green background */
}

#bluecursor::-moz-range-thumb
{
  background: #4C50AF; /* Blue background */
}

